@import './mixin';
.originIndex{
  .btn-success{
    display:block;
    padding: 12px 18px;
    background-color: #4ca20c;
    width: 13%;
    text-align: center;
    color: #fff;
    transition: .5s;
    white-space: nowrap;
    margin-bottom: 30px;
    @include pad{
      width: 20%;
    }
    @include mobile{
      width: 40%;
    }
    &:hover{
      background-color: #fff;
      color: #4ca20c;
    }
  }
  .banner{
    position: relative;
    padding: 20px 80px;
    background-image: url(https://www.champion-bio.com/upload/banner_list/twL_banner_21E18_8v254ya3mx.png);
    height: 450px;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 80px;
    @include mobile{
      padding-left: 15px;
    }
    &-content{
      width: 60%;
      @include pad{
        width: 70%;
      }
      @include mobile{
        width: 100%;
      }
    }
    h4{
      color: white;
      font-weight: bold;
      font-size: 18px;
      position: relative;
      width: 70%;
      white-space: nowrap;
      margin-bottom: 20px;
      .middle{
        padding: 0 10px;
      }
    }
    p{
      &.big{
        font-size: 58px;
        font-weight: bold;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 20px;
        @include pad{
          font-size: 42px;
        }
        @include mobile{
          font-size: 24px;
        }
      }
      &.small{
        font-weight: bold;
        color:#fff;
        margin-bottom: 30px;
      }
    }
  }
  .about-origin{
    flex-wrap: wrap;
  }
  .text{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-weight: bold;
    padding-right: 36px;
    padding-bottom: 24px;
    h4{
      font-size: 32px;
      margin-bottom: 10px;
    }
    a{
      font-size: 24px;
    }
  }
  .outer{
    position: absolute;
    width: 70%;
    border: 2px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    opacity: 0;
    transition: opacity 0.5s;
    transition: width 0.7s, height 0.7s;
  }
  .about-left{
    background-image: url(https://www.champion-bio.com/upload/marqueepic_list/twL_marqueepic_21A15_j54wkw9z6n.jpg);
    background-size: cover;
    background-position: center center;
    height: 330px;
    flex: 0 0 50%;
    position: relative;
    cursor: pointer;
    @include mobile{
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
    &:hover{
      .outer{
        opacity: 1;
        width: 95%;
        height: 95%;
      }
    }
  }
  .about-right{
    background-image: url(	https://www.champion-bio.com/upload/marqueepic_list/twL_marqueepic_21A15_x83ww45qmg.jpg);
    background-size: cover;
    background-position: center center;
    height: 330px;
    flex: 0 0 50%;
    position: relative;
    cursor: pointer;
    .text{
      left: 0;
      padding-left: 36px;
    }
    &:hover{
      .outer{
        opacity: 1;
        width: 95%;
        height: 95%;
      }
    }
    @include mobile{
      flex: 0 0 100%;
      .text{
        padding-left: 0;
        right: 0;
        left: auto;
        padding-right: 36px;
      }
    }
  }
  .about-company{
    background-image: url(https://www.champion-bio.com/tw/images/about-bg.jpg);
    height: 830px;
    background-size: cover;
    background-position: center center;
    padding: 120px 0 140px 0;
    &-content{
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
    @include pad{
      background-position: right center;
    }
  }
  .about-company-item{
    width: 50%;
    padding-right: 100px;
    @include pad{
      width: 100%;
      padding: 0 40px;
    }
    h3{
      font-size: 55px;
      font-weight: bold;
      text-align: left;
      margin-bottom: 10px;
    }
    p{
      font-weight: 900;
      font-size: 18px;
      margin-bottom: 20px;
      color: #111;
    }
    .text-green{
      font-size: 18px;
      color:#4ca20c;
      margin-bottom: 20px;
      font-weight: normal;
    }
    .text-normal{
      font-size: 16px;
      font-weight: normal;
      color: #777;
      margin-bottom: 20px;
    }
    .btn-success{
      width: 30%;
      @include mobile{
        width: 40%;
      }
    }
  }
  .about-img{
    width: 50%;
    position: relative;
    img{
      position: absolute;
    }
    .img-two{
      right: 100px;
      top: -40px;
    }
    .img-one{
      right: 300px;
      top: 80px;
      z-index: 1;
    }
    @include mobile {
      .img-two{
        right: 20px;
        top: 0px;
      }
      .img-one{
        right: 80px;
        top: 150px;
        z-index: 1;
      }
    }
  }
  .about-formula{
    padding: 100px 0 0 0;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      height: 100%;
      background-color: #faf8f1;
      width: 50%;
      top:0;
      z-index: -1;
      @include pad{
        width: 100%;
      }
    }
    ul{
      flex: 0 0 35%;
      @include pad{
        display: none;
      }
    }
    li{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 100px;
      margin-bottom: 60px;
      h5{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        .middle{
          padding: 0 20px;
        }
        .text-title{
          transition: .5s;
          font-size: 22px;
          &:hover{
            color: #4ca20c
          }
        }
      }
      p{
        overflow-wrap: break-word;
        color:#808080;
        font-size: 15px;
      }
    }
    .about-formula-title{
      position: absolute;
      top: 100px;
      right: 30px;
      width: 30%;
      @include pad{
        width: 100%;
        top: 100px;
        right: 0;
        padding: 20px;
      }
      h2{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      p{
        margin-bottom: 20px;
      }
    }
  }
  .right-box{
    padding-left: 140px;
    position: relative;
    width: calc(100% - 390px);
    z-index: 1;
    .right-box-img{
      top: 100px;
      left: 0px;
      width: 100%;
      display: block;
      position: relative;
      backface-visibility: hidden;
      @include pad{
        display: none;
      }
    }
    .circle{
      position: absolute;
      width: 490px;
      height: 490px;
      top: 40px;
      left: 65px;
      display: block;
      max-width: 100%;
      backface-visibility: hidden;
      animation: rotate 70s linear infinite;
      @include pad{
        display: none;
      }
      @keyframes rotate {
        0%{
          transform: rotate(0deg)
        }
        100%{
          transform: rotate(360deg)
        }
      }
    }
    .advantageList{
      display: block;
      position: absolute;
      top: 42px;
      left: 65px;
      z-index: 3;
      width: 490px;
      height: 490px;
      padding: 0;
      border-radius: 50%;
      &-item{
        width: 85px;
        height: 85px;
        display: block;
        margin:-42.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        &:first-of-type{
          transform: rotate(270deg) translate(245px) rotate(-270deg);
        }
        &:nth-of-type(2){
          transform: rotate(225deg) translate(245px) rotate(-225deg);
        }
        &:nth-of-type(3){
          transform: rotate(180deg) translate(245px) rotate(-180deg);
        }
        &:nth-of-type(4){
          transform: rotate(135deg) translate(245px) rotate(-135deg);
        }
        &:nth-of-type(5){
          transform: rotate(90deg) translate(245px) rotate(-90deg);
        }
        @include pad{
          display: none;
        }
        .item-circle{
          height: 85px;
          width: 85px;
          border-radius:50%;
          border: 1px solid #4ca20c;
          p{
            line-height: 85px;
            font-size: 24px;
            color:#4ca20c;
            text-align: center;
          }
        }
      }
    }
  }
  .text-c-green{
    color:#4ca20c;
    font-size: 14px;
  }
  .text-normal{
    font-size: 16px;
    font-weight: normal;
    color: #777;
    margin-bottom: 20px;
  }
}